[submodule "SFML/Beginning-Cpp-Game-Programming-Second-Edition"]
	path = SFML/Beginning-Cpp-Game-Programming-Second-Edition
	url = git@github.com:PacktPublishing/Beginning-Cpp-Game-Programming-Second-Edition.git
[submodule "SFML/Cpp-Game-Programming-Book"]
	path = SFML/Cpp-Game-Programming-Book
	url = git@github.com:GersonFeDutra/Cpp-Game-Programming-Book.git
[submodule "A-Tour-of-Cpp"]
	path = A-Tour-of-Cpp
	url = https://github.com/GersonFeDutra/A-Tour-of-Cpp
[submodule "Math/Linear-Algebra"]
	path = Math/Linear-Algebra
	url = https://github.com/GersonFeDutra/Linear-Algebra
